@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;    
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;    
}

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-gray: #888888;
  --basic-green: #63A63E;
  --basic-rose-red: #EE3643;
  --basic-blue: #3BBCE3;
  --basic-alice-blue: #F1F5F7;
  --basic-blue-blue: #293449;
  --light-gray: #C5C5C5; 
  --dark-blue-blue: #212A3A;
  --medium-blue-blue: #405069;
  --medium-blue: #32425C;
  --light-blue-blue: #C1C6CE;
  --light-brown: #FFD180;
  --medium-light-brown: #FFBF47;
  --medium-brown: #FFC047;
  --very-light-brown: #F9F5F0; 
  --very-brown: #F7F3EC;
  --medium-gray: #A9A9A9;
  --light-white: #F3F7F9;
  --dusty-rose: #DC91D8;
  --light-green: #8ED78F;

}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  
 /* min-height: 100%;*/
  display: grid;
  grid-template-rows: min-content 1fr min-content;

}

a {
	text-decoration: none;
	color: var(--basic-white);
}

li {
  list-style: none;	
}

img {
  max-height: 100%;
  height: auto;
}

/*GriD*/

.page {
  height: 100%
}

.button {
 /*display: block;*/
  border: none;
  background-color: transparent;
  color: var(--basic-white);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.heading-second, 
.heading-second-service, 
.heading-second-delivery, 
.heading-second-contacts, 
.heading-second-office {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--medium-blue);
  text-transform: uppercase; 
}

.avatar-perforators h3 {
  text-transform: uppercase;
} 

.heading-third {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
}

.heading-fourth {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
}

.checkout:hover {
  background-color: #5FBB2D;
}

.checkout:active {
  opacity: 0.5;
}

.lead {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-rose-red);
}

.contacts-phone { 
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-rose-red);

  background-color: #F3F7F9;
  border: 3px solid #FFFFFF;
}


.header-address {
  font-size: 14px;
  color: var(--medium-blue);
}

.login-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-transform: none; 
}

.carousel {
  text-transform: uppercase;
}

.icon-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-black);
  text-align: center;
}

.icon-item span {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.price-old {
  color: var(--medium-gray);
  text-decoration-line: line-through;
}

.price-new {
  color: var(--basic-white);
  background-color: var(--basic-rose-red);
}

.features-perforator {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  background-color: var(--basic-alice-blue);
}

.features-info {
  color: var(--basic-black);
  width: 338px;
  padding-top: 64px;
  padding-bottom: 25px;
  margin: 0;
}

.features-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  padding-bottom: 68px;
  color: var(--basic-black);
  margin: 0;
}

.features-perforator-text {
  width: 920px;
  margin: 0 auto;
}
/* первому элементу в списке кнопок дать белый цвет с темными буквами
  background: #FFFFFF;
  color: #32425C;
  box-shadow: 0px 1px 0px #FFFFFF;
*/
.features-button {
  padding-left: 0;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069, 15px 0px 16px -6px #7b729d;
}

.features-button button {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  text-transform: none;
  background-color: var(--medium-blue);
  width: 240px;
  text-align: left;
  padding-left: 22px;
  padding-top: 13.5px;
  padding-bottom: 17.5px;
  
}

.features-button button:hover {
  background-color: var(--basic-blue-blue);
}

.features-button button:active {
  color: var(--medium-blue);
  background-color: var(--basic-white);
}

.features-item-item {
  color: var(--basic-black);
  position: relative;
}

.footer-address {
  color: var(--light-white);
}

.link-yellow {
  color: var(--light-brown);
}

.footer-social .link-yellow:hover {
  text-decoration: underline;
}

.footer-social .link-yellow:active {
  color: var(--basic-rose-red);
  text-decoration: none;
}

.footer-social {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-blue-blue);
}

.name {
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  padding-left: 56px;
  padding-right: 57px;
}

.name:active {
color: var(--light-gray);
}

.menu-user {
  font-size: 16px;
  line-height: 18px;
  color: var(--medium-blue);
  text-transform: none;
}

.breadcrumbs-items,
.breadcrumbs {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter-name {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--very-brown);
}

.filter-heading {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  
}

.filter-price-scale {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--very-brown)
}

.filter-option {
  margin-bottom: 19px;                                               
}

.filter-option label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  color: var(--basic-black);
  text-transform: uppercase;
  position: relative;
  display: block;
  user-select: none;
}



.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -42px;
  width: 28px;
  height: 24px;
  background-image: url("../img/icon/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -42px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}



.show-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  width: 220px;
  margin-top: 37px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sorting {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--very-brown);
  position: relative;
}

.sorting-button-up {
  position: absolute;
  top: 14px;
  right: 48px;
  height: 10px;
  width: 11px;
  background-image: url("../img/icon/arrow-up.svg");
  background-repeat: no-repeat;
  background-position: left center;
  opacity: 0.5;
  cursor: pointer;
}

.sorting-button-down {
  position: absolute;
  top: 14px;
  right: 16px;
  height: 10px;
  width: 11px;
  background-image: url("../img/icon/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: left center;
  opacity: 0.5;
  cursor: pointer;
}

.sorting-button-up:hover,
.sorting-button-down:hover {
  opacity: 1;
}

.sorting-button-up:active {
  background-image: url("../img/icon/arrow-up-active.svg");
  opacity: 1;
}

.sorting-button-down:active {
  background-image: url("../img/icon/arrow-down-active.svg");
  opacity: 1;
}

.sorting-price:hover,
.sorting-type:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-rose-red);
  opacity: 1;
}

.sorting-price:active,
.sorting-type:active {
  color: var(--basic-rose-red);
  opacity: 1;
}

.sorting-price {
  color: #EE3643;
}

.sorting-type {
  border-bottom: 1px dotted var(--basic-rose-red);
  opacity: 0.3;
}

.pagination-page {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  border-radius: 2px;
  border: 1px solid #E5E5E5;
  width: 38px;
  padding: 10px 15px;
  border: 1px solid #E5E5E5;
  margin-right: 10px;
  margin-bottom: 59px;
}

.pagination-active {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-rose-red);
  border-radius: 2px;
  border: 1px solid #E5E5E5;
  width: 38px;
  padding: 10px 15px;
  border: 1px solid #E5E5E5;
  margin-right: 10px;
  margin-bottom: 59px;
}

.pagination-active:hover {
  border: 1px solid #C5C5C5;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.pagination-active:active {
  border: 1px solid #EE3643;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.pagination-page:hover {
  border: 1px solid #C5C5C5;
}

.pagination-page:active {
  border: 1px solid var(--basic-rose-red);
}

.checkout button {
  padding-left: 130px;
}

.wrapper {
  width: 940px;
}





/* FLEX*/
.main-header {
  background-color: var(--basic-alice-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.main-navigation {
  background-color: var(--basic-blue-blue);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 } 

.header-nav-left {
  padding-right: 275px;
}

.header-nav-left svg {
padding-top: 7px;
margin-right: 5px;
opacity: 0.5;
}

.main-header-logo {
  background-color: #EE3643;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: -5px;
}


.main-header-logo img {
  background-color: #EE3643;
  padding: 12px 56px 17px 56px; 
}

.main-header-logo .footer-menu-link img {
  background-color: #EE3643;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 41px 25px 41px;
}

.personal {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 299px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.name::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 21px;
  width: 20px;
  height: 28px;
  background-image: url("../img/icon/men.svg");
  background-repeat: no-repeat;
  background-position: left center;
  opacity: 0.5;
}

.name::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 21px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon/icon-login.svg");
  background-repeat: no-repeat;
  background-position: right center;
  opacity: 0.5;
}

 .search-input {
  position: absolute;
  width: 68px;
  top: 12px;
  text-align: left;
  background: #293449;
  border: none; 
  font-size: 18px;
  line-height: 24px;
}

input[type="search"]::placeholder { 
  color: #ffffff;
  font-family: "Cuprum";
  font-weight:  400; 
}

.header-address {
  padding: 12px 27px 12px 45px;
  position: relative; 
}

.contacts-phone::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 17px;
  width: 18px;
  height: 19px;
  background-image: url("../img/icon/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-right,
.header-nav-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-nav-right {
  position: relative;
}

.bookmarks {
  margin-right: 71px;
}


.bookmarks::before {
  content: "";
  position: absolute;
  top: 16px;
  left: -24px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon/shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
  opacity: 0.5;
} 

.cart-catalog {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 21px 13px 35px;
  text-transform: none;
  background-color: #EE3643;

}


.cart::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 130px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
  opacity: 0.5;
}

.cart-catalog::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
  opacity: 0.5;
}




.navigation-address {
  display:flex;
  justify-content: center;
}

.navigation-address ul {
  display: flex;
  justify-content: space-around;
  padding: 0px;
}

.lead {
  width: 197px;
}

.comein::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 19px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;

}

.user-navigation .login-link {
  padding: 12px 27px 12px 45px;
  position: relative;
  background: #ffffff;
}

.site-navigation {
  display:flex;
  justify-content: center;
}

.site-navigation ul{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.avatar ul {
  display:  flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 940px;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  margin-bottom: 59px;
  margin-top: 59px;
}

.avatar-perforators {
  position: relative;
  width: 620px;
  height: 266px;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 10px 0px;
}

.avatar-block-perfor {
 position: absolute;
  margin-top: 23px;
  margin-left: 24px;
} 

.avatar-block-perfor h3 {
 margin-left: 24px;
 padding-bottom: 0px;
}

.avatar-block-perfor h4 {
  width: 258px;
  margin-top: 0px;
  margin-left: 24px;
  margin-bottom: 113px;
}

.avatar-block-perfor .red-button {
  width: 192px;
  left: 24px; 
  padding: 11px 46px 9px 46px;
}


.avatar-materials,
.avatar-tool, 
.avatar-equipment, 
.avatar-discounts, 
.avatar-delivery {
  display: flex; 
  justify-content: center;
  align-items: center;
  max-height: 123px;
  width: 300px;
} 

.avatar-dop .avatar-style {
  width: 300px; 
  margin: 0px;
}

.avatar-discounts,
.avatar-delivery {
  margin: 10px 0px;
}

.avatar-block {
  margin: 20px 34px 20px 0px;
}

.avatar-materials {
 position: relative; 
}

.avatar-materials::after {
  content: "NEW";
  width: 79.6px;
  position: absolute;
  top: 7.8px;
  left: 242.9px;
  text-align: center;
  color: #FFFFFF;
  background: #EE3643;
  transform: rotate(45deg);
  background-image:
  linear-gradient(135deg, #FFFFFF 25%, transparent 25%),
  linear-gradient(225deg, #FFFFFF 25%, transparent 25%);
  border: 0; /*убрать рамку не получилось*/
}


.heading-third {
  padding-bottom: 14px;
  margin: 0px;
}

.avatar-list {
  width: 135px;
  height: 38px;
}

/*дрели*/

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.icon-head {
  display: flex;
  flex-direction: row;
  width: 940px;
  margin: auto;
  justify-content: space-between;
}

.icon-head h2 {
  margin-left: 28px;
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 100%;
}

.icon-item {                  /*не получилось отцентровать и надо сделать картинку при нажатии в виде кнопок*/
  border: 1px solid #EAEAEA;
  width: 220px;
  min-height: 318px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-self: auto;
}

.icon-title img {
  width: 184px;
  height: 164px;
  margin: 0;
}

.price-old {
  
  margin: 0px 24px 0px 24px; 
}

.price-new {
  width: 141px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 44px;
  margin: 0px 32px 21px 47px;
  border-radius: 5px;
  background-image:
  linear-gradient(225deg, #FFFFFF 25%, transparent 25%),
  linear-gradient(315deg, #FFFFFF 25%, transparent 25%);
}

.icon-list {
  position: relative;
}

.icon-item::after {
  content: "NEW";
  width: 79.6px;
  position: absolute;
  top: 27px;
  left: 402.9px;
  text-align: center;
  color: #FFFFFF;
  background: #EE3643;
  transform: rotate(45deg);
  background-image:
  linear-gradient(135deg, #FFFFFF 25%, transparent 25%),
  linear-gradient(225deg, #FFFFFF 25%, transparent 25%);
}


/*логотипы*/

.icon-logo-list ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  margin: 0 auto;
  max-width: 940px;
  justify-content: space-between;
  align-items: center;
}

.logo-list {
  border: 1px solid #EAEAEA;
  margin-top: 20px;
  margin-right: 20px;
}

.list-icon {
  width: 220px;
}

.logo-list-bosch {
  padding:  54px 47px;
}

.logo-list-makita {
  padding: 50px 49px 55px 48px;
}

.logo-list-dewalt {
  padding: 48px 37px 53px 37px;
}

.logo-list-interscol {
  padding: 34px 11px 36px 9px; 
}

.logo-list-hitachi {
  padding: 58px 23px 56px 28px;
}

.logo-list-lg {
  padding: 36px 49px 36px 50px;
}

.logo-list-aeg {
  padding: 24px 34px 25px 35px;
}

.logo-list-metabo {
  padding: 34px 8px 42px 8px;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}


 
                      .red-button {

                        margin: 20px;
                        padding: 11px 38px 9px 39px; /*популярные производители*/
                      }

.features-list {           
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  width: 1200px; 
}

.service {
  width: 1200px;
  padding-left: 130px;
}

.delivery-text {
  width: 300px;
}

.service-info  {
  padding-left: 130px; 
}

.delivery ul{
  display: flex;
  padding-top: 0;
  margin-top: 0;
}

.truck {
  width: 468px;
}

.container-contacts {
 /* display: grid;
  grid-template-columns: 1.5fr 1fr;*/
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 70px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.container-contacts button {
  margin-left: 0;
}

.contacts ul {
  position: relative;
}

.contacts li {
  margin-bottom: 10px;
}

.features-item-item::before { 
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  top: 10px;
  left: -40px;
  background-image: url("../img/icon/objectred.svg");
  background-repeat: no-repeat;
}
  /*list-style-image: url (""); */



.contacts p {
  /*width: 460px;*/
  margin-top: 24px;

}

.contacts {
display: flex;
flex-direction: column;
width: 460px;
justify-content: space-between; 
}

.contacts-office {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
}


.contacts .red-button {      /*не забыть сделать модальное окно*/
  width: 220px;
  margin-top: 25px;
  padding: 11px 40px 9px 40px;
}

.contacts-office .red-button {
  width: 300px;
  margin-top: 50px;
  padding: 11px 61px 9px 62px;
}

.footer-social {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 0.5fr 1fr;
  width: 1200px;
  justify-content: center;
  align-items:  center;
}

.footer-social p {
  margin-left: 131px; 
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 134px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(33, 42, 58, 1);
  color: inherit;
  border-radius: 100%;
}
.social-button ul {
  
}

.social-button:hover,
.social-button:active {
  background-color: rgba(238, 54, 67, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link-yellow {
}

/* Grid for catalog */

.catalog-filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 940px;

  margin-right: auto;
  margin-left: auto;
  }

.breadcrumbs {
  grid-column: 1 / -1;
  margin-bottom: 20px;
  margin-top: 21px;
}


                          .purchase-block {
                            width: 700px;
                            margin-left: 20px;
                          }


.filter {
 
 }

.sorting {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 
  padding-top: 10px;
  padding-bottom: 10px;

  
}

.pagination {
  display: flex;
  flex-wrap: wrap; 
  padding: 0;
  margin-top: 48px;
  margin-bottom: 59px;
}

.pagination-active .pagination-page a {
  display: block; 
  margin-bottom: 69px;
}


.site-navigation {
  background-color: var(--medium-blue);
  box-shadow: inset 0px -5px 0px var(--basic-blue-blue);
  width: 940px;
}

.site-navigation-head:hover {
  background-color: var(--basic-blue-blue);
}

.site-navigation-head:active {
  opacity: 0.5;
}

.search {
  color: var(--basic-white);
}

.red-button {
  background-color: var(--basic-rose-red); 
}

.red-button:hover {
  background-color: #CA2C37; 
}

.avatar-list .red-button:hover {
  background-color: #CA2C37;
}

.red-button:active {
  background-color: #BA2732; 
}

.avatar-list .red-button:active {
  background-color: #BA2732;
}

.header-nav-left-catalog {
  padding-right: 240px;
}

.checkout {
  font-size: 18px;
  line-height: 24px;
  padding: 12px 16px 13px 19px;
  margin-left: 25px;
  text-transform: none;
  background-color: var(--basic-green);
}

.checkout-button {
    font-size: 18px;
  line-height: 24px;
  padding: 12px 16px 13px 19px;
  margin-left: 0;
  text-transform: none;
  background-color: var(--basic-green);
}

.avatar-list {
  background-color: rgba(255, 255, 255, 0.3);
}

.avatar-list:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.avatar-list:active {
  background-color: rgba(169, 169, 169, 0.3);
}
.avatar-materials {
  background-color: var(--medium-light-brown);
}

.avatar-tool {
  background-color: var(--basic-blue);
}

.avatar-equipment {
  background-color: var(--dusty-rose);
}

.avatar-list .red-button {
  background-color: var(--basic-rose-red);
}

.avatar-discounts {
  background-color: var(--light-green);
}

.avatar-delivery {
  background-color: var(--medium-light-brown);
}

.icon-head {
  background-color: var(--very-light-brown);
}

.features-list {
  background-color: var(--basic-alice-blue);
  margin-right: auto;
  margin-left: auto; 
}

.main-footer {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.footer-menu {                         
  background-color: var(--medium-blue);
  
}

.footer-menu-link:hover {
  text-decoration: underline;
}

.footer-menu-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-navigation .footer-phone:hover,
.footer-navigation .footer-phone:active {
  text-decoration: none;
  opacity: 1;
}

.breadcrumbs {                              
  display: flex;
  padding-top: 21px;
  margin: auto;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 940px;
}
.breadcrumbs-items {
  position: relative;
  margin-right: 41px;

} 

.breadcrumbs-items::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 11px;
  top: 2px;
  right: -28px; 
  background-image: url("../img/icon/shapecrumbs.svg");
  margin-left: 40px;
}  

.crumbshome::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  top: 2px;
  right: 3px; 
  background-image: url("../img/icon/icon-home.svg");
}

.breadcrumbs-heading {
  background-color: var(--basic-alice-blue);
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  width: 940px;
  margin-bottom: 20px;
  align-items: center;
  
}

.breadcrumbs-heading span {
  padding-left: 29px;
  padding-top: 29px;
  padding-bottom: 30px;
}
/*Style guide*/

.bookmarks:active,
.cart:active {
  background-color: #161D29;
  opacity: 0.5;
}

.login-link {
  background: none;
  border: none;
}

.login-link:hover,
.menu-user:hover {
  color: var(--basic-rose-red);
}

.login-link:active,
.menu-user:active {
  color: var(--light-gray);
}

.icon-item:hover {
  box-shadow:0 0 3px 3px rgba(0,0,0,0.5);
}

.icon-logo-list img: {
  border: 1px;
  border-style: solid;
  border-color: #EAEAEA;
  
}

.logo-list:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.logo-list:active {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  opacity: 0.5;
}

input:disabled {
  background-color: : 1px solid #B5B5B5;
  box-shadow: 0 0 3px #B5B5B5;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;

  /* Для демонстрации */
  width: 220px;
  margin: 50px auto; 
}

.range-filter {
  width: 220px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--very-brown);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 75px;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--very-brown);
  font-family: inherit;
  font-size: inherit;
}

.max-price::before {
  content: "";
  position: absolute;
  top: 17px;
  left: -21px;
  height: 1px;
  width: 10px;
  background-color: var(--basic-black);
}

.max-price {
  position: relative;
}