@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;    
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum-700.woff2") format("woff2"),
       url("../fonts/cuprum-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;    
}

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-gray: #888888;
  --basic-green: #63A63E;
  --basic-rose-red: #EE3643;
  --basic-blue: #3BBCE3;
  --basic-alice-blue: #F1F5F7;
  --basic-blue-blue: #293449;
  --light-gray: #C5C5C5; 
  --dark-blue-blue: #212A3A;
  --medium-blue-blue: #405069;
  --medium-blue: #32425C;
  --light-blue-blue: #C1C6CE;
  --light-brown: #FFD180;
  --medium-light-brown: #FFBF47;
  --medium-brown: #FFC047;
  --very-light-brown: #F9F5F0; 
  --very-brown: #F7F3EC;
  --medium-gray: #A9A9A9;
  --light-white: #F3F7F9;
  --dusty-rose: #DC91D8;
  --light-green: #8ED78F;

}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

}

a {
	text-decoration: none;
	color: var(--basic-white);
}

li {
  list-style: none;	
}

img {
  max-height: 100%;
  height: auto;
}

/*GriD*/

.page {
  height: 100%
}

.button {
  border: none;
  background-color: transparent;
  color: var(--basic-white);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.heading-second {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--medium-blue);
  text-transform: uppercase; 
}

.avatar-perforators h3 {
  text-transform: uppercase;
} 

.heading-third {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
 

}

.heading-fourth {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
}

.checkout:hover {
  background-color: #5FBB2D;
}

.checkout:active {
  opacity: 0.5;
}

.lead {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-rose-red);
}

.contacts-phone { 
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-rose-red);
}

.header-address {
  font-size: 14px;
  color: var(--medium-blue);
}

.login-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-transform: none; 
}

.carousel {
  text-transform: uppercase;
}

.icon-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-black);
}

.icon-item span {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.price-old {
  color: var(--medium-gray);
  text-decoration-line: line-through;
}

.price-new {
  color: var(--basic-white);
  background-color: var(--basic-rose-red);
}

.features-perforator {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  background-color: var(--basic-alice-blue);
}

.features-item {
  color: var(--basic-black);
  width: 338px;
  margin-right: 732px;
  margin-left: 130px;
  margin-top: 64px;
}

.features-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  width: 907px;
  margin-right: 163px;
  margin-left: 130px;
  margin-bottom: 68px;
  margin-top: 25px;
  justify-content: flex-start;

}

.features-button button {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  text-transform: none;
  background-color: var(--medium-blue);
}

.features-button button:hover {
  background-color: var(--basic-blue-blue);
}

.features-button button:active {
  color: var(--medium-blue);
  background-color: var(--basic-white);
}

.features-item-item {
  color: var(--basic-black);
}

.footer-address {
  color: var(--light-white);
}

.link-yellow {
  color: var(--light-brown);
}

.footer-social .link-yellow:hover {
  text-decoration: underline;
}

.footer-social .link-yellow:active {
  color: var(--basic-rose-red);
  text-decoration: none;
}

.footer-social {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-blue-blue);
}

.name {
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
}

.name:active {
color: var(--light-gray);
}

.menu-user {
  font-size: 16px;
  line-height: 18px;
  color: var(--medium-blue);
  text-transform: none;
}

.breadcrumbs-items,
.breadcrumbs {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter-name {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--very-brown);
}

.filter-heading {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter-price-scale {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--very-brown)
}

.filter-option label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.show-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.sorting {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--very-brown);
}

.sorting-price:hover,
.sorting-type:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-rose-red);
  opacity: 1;
}

.sorting-price:active,
.sorting-type:active {
  color: var(--basic-rose-red);
  opacity: 1;
}

.sorting-price,
.sorting-type {
  border-bottom: 1px dotted var(--basic-rose-red);
  opacity: 0.3;
}

.pagination-page {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  border: 1px solid #E5E5E5;
}

.pagination-active {
  color: var(--basic-white);
  background-color: var(--basic-rose-red);
}

.pagination-active:hover {
  border: 1px solid #C5C5C5;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.pagination-active:active {
  border: 1px solid #EE3643;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.pagination-page:hover {
  border: 1px solid #C5C5C5;
}

.pagination-page:active {
  border: 1px solid var(--basic-rose-red);
}

.checkout button {
  padding-left: 130px;
}

/* FLEX*/
.main-header {
  background-color: var(--basic-alice-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.main-navigation {
  background-color: var(--basic-blue-blue);
  width: 100%;
 } 

.search, .bookmarks, .cart, .checkout {
 

}

.main-navigation ul {
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

.navigation-address ul {
  display: flex;
  justify-content: space-around;
}

.lead {
  width: 197px;
}

.site-navigation {
  margin-left: auto;
  margin-right: auto;
}

.site-navigation ul{
  display: flex;
  justify-content: space-around; 
}

.avatar ul {
  display:  flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 940px;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  margin-bottom: 59px;
  margin-top: 59px;
}

.avatar-perforators {
  width: 620px;
  height: 266px;
}

.avatar-materials,
.avatar-tool, 
.avatar-equipment, 
.avatar-discounts, 
.avatar-delivery {
  /*display: flex;*/ 
  flex-grow:1;
  margin-bottom: 20px;
  width: 300px;
 /* padding-bottom: 21px;*/
} 

.avatar-dop .avatar-style {
  width: 300px; 
}

.heading-third {
  width: 114px;
  padding-right: 22px;
  padding-top: 20px;
  margin-left: 20px;
}

.avatar-list: {
  width: 135px;
  padding-top: 64px;
  padding-right: 142px;
  padding-left: 23px;
}

/*дрели*/

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.icon-head {
  display: flex;
  flex-direction: row;
  width: 940px;
  margin: auto;
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}

.icon-item {
  width: 220px;
  min-height: 318px;
  margin-top: 20px;
  margin-bottom: 70px;
  margin-right: 20px;
}

.icon-title {
  margin-top: 179px;
  margin-right: 33px;
  margin-bottom: 98px;
  margin-left: 30px; 
}

.icon-title img {
  width: 184px;
  height: 164px;
  margin: 0;
}

.price-old {
  display: flex;
  margin: 24px;
  justify-content: center;
}

.price-new {
  display: flex;
  margin: 38px;
  margin-bottom: 21px;
  justify-content: center;
}


/*логотипы*/

/*.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

.icon-logo-list ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  margin: 0 auto;
  max-width: 940px;
}

.logo-list {
  width: 220px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.footer-menu-link {

}


/* Grid cfor index */
                      .icon-head {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                      }

                      .red-button {
                        margin: 20px;
                      }

/*
                      .icon-list {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                      }

                      .icon-logo-list ul {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                      }
*/
.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1200px; 
}

.service {
}

.delivery {
 }

.container-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.contacts { 

}

.contacts-office {

}

.footer-social {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 0.5fr 1fr;
  width: 1200px;
}

.footer-social p {
  justify-content: center;
  align-items:  center;
  margin-left: 131px;
  
}

.social-button button {
}

.link-yellow {
}

/* Grid for catalog */

.catalog-filter {
  display: grid;
  grid-template-columns: 500px 1fr;
  align-content: start;
  outline: 5px solid rgba(255, 0, 0, 0.7); 
}

.filter {
  outline: 5px solid rgba(255, 0, 255, 0.7); 
}

.sorting {
  display: flex;
  flex-direction: row;
  width: 700px;
  margin-left: 370px;
  margin-right: 130px;
  outline: 5px solid rgba(0, 0, 255, 0.7);
}

.pagination {
  outline: 5px solid rgba(0, 255, 0, 0.7);  
}

.site-navigation {
  background-color: var(--medium-blue);
  box-shadow: inset 0px -5px 0px var(--basic-blue-blue);
  width: 940px;
}

.site-navigation-head:hover {
  background-color: var(--basic-blue-blue);
}

.site-navigation-head:active {
  opacity: 0.5;
}

.search {
  color: var(--basic-white);
}

.red-button {
  background-color: var(--basic-rose-red); 
}

.red-button:hover {
  background-color: #CA2C37; 
}

.avatar-list .red-button:hover {
  background-color: #CA2C37;
}

.red-button:active {
  background-color: #BA2732; 
}

.avatar-list .red-button:active {
  background-color: #BA2732;
}

.checkout {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  background-color: var(--basic-green);
}

.avatar-list {
  background-color: rgba(255, 255, 255, 0.3);
}

.avatar-list:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.avatar-list:active {
  background-color: rgba(169, 169, 169, 0.3);
}
.avatar-materials {
  background-color: var(--medium-light-brown);
}

.avatar-tool {
  background-color: var(--basic-blue);
}

.avatar-equipment {
  background-color: var(--dusty-rose);
}

.avatar-list .red-button {
  background-color: var(--basic-rose-red);
}

.avatar-perforators {
  background-color: rgba(0, 0, 0, 0.25);
}

.avatar-discounts {
  background-color: var(--light-green);
}

.avatar-delivery {
  background-color: var(--medium-light-brown);
}

.icon-head {
  background-color: var(--very-light-brown);
}

.features-list {
  background-color: var(--basic-alice-blue);
  margin-right: auto;
  margin-left: auto; 
}

.main-footer {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.footer-menu {
  background-color: var(--medium-blue);
  
}

.footer-menu-link:hover {
  text-decoration: underline;
}

.footer-menu-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-navigation .footer-phone:hover,
.footer-navigation .footer-phone:active {
  text-decoration: none;
  opacity: 1;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: auto;
  margin-left: auto;
  width: 940px;
  margin-bottom: 20px;
}




.breadcrumbs-heading {
  background-color: var(--basic-alice-blue);
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  width: 940px;
  margin-bottom: 20px;
  align-items: center;
  padding-left: 29px;
  padding-top: 29px;
  padding-bottom: 30px;
}

/*Style guide*/

.bookmarks:active,
.cart:active {
  background-color: #161D29;
  opacity: 0.5;
}

.login-link {
  background: none;
  border: none;
}

.login-link:hover,
.menu-user:hover {
  color: var(--basic-rose-red);
}

.login-link:active,
.menu-user:active {
  color: var(--light-gray);
}

.icon-item:hover {
  box-shadow:0 0 3px 3px rgba(0,0,0,0.5);
}

.icon-logo-list img: {
  border: 1px;
  border-style: solid;
  border-color: #EAEAEA;
  
}

.logo-list:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.logo-list:active {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  opacity: 0.5;
}

input:disabled {
  background-color: : 1px solid #B5B5B5;
  box-shadow: 0 0 3px #B5B5B5;
}




